<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Attendance Poll</title>
    <link rel="shortcut icon" href={{ url_for('static', filename='favicon.png') }} />
  </head>
  <body>

    <form action="/invite" method="POST">
      Enter the name of someone to invite:
      <input type="text" name="name" value="Mickey" />
      <button type="submit">Invite</button>
    </form>

    <p>Currently attending: {{ count }}</p>

    <ul id="invitees">
      {% for invitee in invitees %}
      <li>
        {{ invitee.name }} {{ invitee.attending }}
        <form action="/rsvp" method="POST">
          {% if invitee.attending %}
            <button name="{{ invitee.name }}" type="submit">Change</button>
          {% else %}
            <button name="{{ invitee.name }}" type="submit">Change</button>
          {% endif %}
        </form>
      </li>
      {% endfor %}
    </ul>

    <form action="/archive" method="POST">
      <button type="submit">Clear invitee list</button>
    </form>
  </body>
</html>
