<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>Attendance Poll</title>
    <link rel="shortcut icon" href={{ url_for('static', filename='favicon.png') }} />
    <link rel="stylesheet" href={{ url_for('static', filename='style.css') }} />
  </head>
  <body>

    <div>
      <div>
        Enter the name of someone to invite:
      </div>
      <div>
        <form action="/invite" method="POST">
          <input type="text" name="name" value="Mickey" />
          <button type="submit">Invite</button>
        </form>
      </div>
    </div>

    <div class="summary">Currently attending: {{ count }}</div>

    <div class="invitees">
      {% for invitee in invitees %}
      <div class="invitee">
        {{ invitee.name }} {{ invitee.attending }}
        <form action="/rsvp" method="POST">
          {% if invitee.attending %}
            <button name="{{ invitee.name }}" type="submit">Change</button>
          {% else %}
            <button name="{{ invitee.name }}" type="submit">Change</button>
          {% endif %}
        </form>
      </div>
      {% endfor %}
    </div>

    <form action="/archive" method="POST">
      <button type="submit" class="btn-warn">Clear invitee list</button>
    </form>
  </body>
</html>
